
/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* main code */

:root{
    --orange: #FFA500;
    --brown: #4D3025;
    --white: #ffffff;
    --black: #000000;
    --red: #853335; 
    font-family: 'Bebas Neue', 'Saira Condensed', san-serif;
}
*{
    box-sizing: border-box;
}
script {
    display: none;
}
#skip {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
header {
    display: flex;
    justify-content: flex-end;
}
header a{
    text-decoration: none;
}
.sr-only {
    display: none;
}
nav {
    z-index: 100;
}
.off-screen-menu {
    background-color: var(--green);
    height:100vh;
    width: 100%;
    max-width:300px;
    top: 0px;
    right: -450px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    transition: .5s ease;
}
.off-screen-menu.active {
    right: 0;
}
.nav {
    display: flex;
}
.hamburger-menu {
    height: 50px;
    width: 40px;
    margin-right: auto;
    position: absolute; 
    top: 5px;
    right: 15px;
}
.hamburger-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--cream);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;

}
.hamburger-menu span:nth-child(1) {
    top: 25%;
}
.hamburger-menu span:nth-child(3) {
    top: 75%;
}
.hamburger-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger-menu.active span:nth-child(2) {
   opacity: 0;
}
.hamburger-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
nav ul {
    list-style: none;
}
nav a {
    text-decoration: none;
    color: var(--cream);
    font-family: 'Saira Condensed', san-serif;
    font-size: 24px;
    text-transform: uppercase;
}
nav li:nth-child(1) {
    margin-top: 55px;
}
nav li {
    padding:20px 0;
}
button {
    font-family: 'Saira Condensed', san-serif;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    background-color: var(--orange);
    padding: 10px;
    margin: 5px 0px 25px 20px;
    transition: background-color 3s ease
}
button a {
    text-decoration: none;
    color: var(--brown);
}
button:hover {
    background-color: var(--white);
    color: var(--red);
    font-weight: bold;
}
#back-top {
    position: fixed; 
    bottom: 10px; 
    right: 10px;
    background-color: var(--orange);
    color: var(--brown);
    font-family: 'Saira Condensed', san-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px;
    text-decoration: none;
    transition: background-color 3s ease
}
#back-top:hover {
    background-color: var(--white);
    color: var(--red);
    font-weight: bold;
}
.epc-main h2 {
    margin-top: 15px;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: 'Bebas Neue', 'Saira Condensed', san-serif;
    text-align: left;
}
#education {
    background-color: var(--orange);
    padding-top: 1px;
    padding-bottom: 20px;
}
.educationicons img {
    width: 35px;
    float: left;
    margin-left: 20px;
    padding-top: 2px;
}
#education p {
    margin-left: 75px;
    font-family: 'Saira Condensed', san-serif;
    line-height: 0.5em;
    font-size: 16px;
}
#university, #bootcamp {
    color: var(--white);
    text-shadow: 1px 1px 2px var(--brown);
}
.locationtext {
    padding-top: 12px;
}
.datetext {
    padding-top: 10px;
}
#experience {
    background-image: linear-gradient(to bottom, #FFA500, #ffffff 45%);
}
#experience h2 {
    margin-top: 0px;
    margin-left: 0px;
    padding-top: 30px;
}
table {
    width: 90%;
    border: 2px solid var(--brown);
    border-collapse: collapse;
    margin: 20px auto 15px auto;
}
th, td {
    text-align: center;
    font-size: 16px;
    padding: 8px;
    border: 2px solid var(--brown);
    font-family: 'Saira Condensed', san-serif;
    color: var(--brown);
}
footer {
    display: flex;
    flex-direction: column;
    color: var(--brown);
    margin-top: 20px;
}
#social-media {
    margin: 10px 0px 5px 0px;
    flex-basis: 100%;
    text-align: center;
}
footer img {
    width: 5%;
}                                   
@media screen and (min-width: 480px) {



}