/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* main code */


:root{
    --purple: #d0b4f1;
    --brown: #4D3025;
    --white: #ffffff;
    --black: #000000;
    --red: #c25451;
    --pink: #ff8983; 
    --green: #013220;
    --cream: #fff1cb;
    font-family: Impact, Trebuchet MS, sans-serif;
}
*{
    box-sizing: border-box;
}
script {
    display: none;
}
#skip {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.sr-only {
    display: none;
}

/* navigation code */

header {
    background-color: var(--cream);
    height: 100px;
}
nav {
    z-index: 100;
}
.off-screen-menu {
    background-color: var(--green);
    height:150vh;
    width: 100%;
    max-width:235px;
    top: 0px;
    right: -450px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    transition: 1s ease;
}
.off-screen-menu.active {
    right: 0;
}
.nav {
    display: flex;
}
.hamburger-menu {
    height: 50px;
    width: 40px;
    margin-right: auto;
    position: absolute; 
    top: 20px;
    right: 15px;
}
.hamburger-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--pink);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s ease;

}
.hamburger-menu span:nth-child(1) {
    top: 25%;
}
.hamburger-menu span:nth-child(3) {
    top: 75%;
}
.hamburger-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--purple);
}
.hamburger-menu.active span:nth-child(2) {
   opacity: 0;
}
.hamburger-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: var(--purple);
}
nav ul {
    list-style: none;
}
nav a {
    text-decoration: none;
    color: var(--pink);
    font-family: Trebuchet MS, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    transition: color 2s ease;
}
nav li:nth-child(1) {
    margin-top: 65px;
}
nav li {
    padding:20px 0;
}
nav a:hover {
    color:var(--purple);
    font-weight: bold;
}

/* education section */

.about-main h1 {
    text-align: center;
    font-family: Impact, Trebuchet MS, sans-serif;
    font-size: 36px;
    color: var(--green);
    padding: 10px;
    margin-top: 25px;
    line-height: 2;
    border-bottom: 5px solid var(--pink);
}
#education {
    padding-bottom: 20px;
}
.about-education {
    display: flex;
    flex-direction: row;
}
.education-text {
    min-width: 320px;
}
.education-text h2 {
    font-family: Impact, Trebuchet MS, sans-serif;
    font-size: 24px;
    color: var(--green);
    margin: 45px 0 35px 25px;
}
.education-monstera {
    display: flex;
    justify-content: end;
    align-items: center;
}
.monsteraleaves {
    width: 110%;
    padding-top: 15px;
    margin-top: 75px;
}
.educationicons img {
    width: 25px;
    float: left;
    margin-left: 25px;
    padding-top: 14px;
}
.education-text p {
    color: var(--green);
    margin-left: 60px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 18px;
    line-height: 1.25;
}
#university, #bootcamp {
    color: var(--green);
    text-transform: uppercase;
}
.locationtext {
    padding-top: 13px;
}
.datetext {
    padding-top: 10px;
}
.bold {
    font-weight: bold;
}

/* hobbies code*/


/* experience/table code */

#experience h2 {
    font-family: Impact, Trebuchet MS, sans-serif;
    font-size: 24px;
    color: var(--green);
    margin: 35px 0 35px 25px;
}

table {
    width: 75%;
    border: none;
    border-collapse: collapse;
    margin: 20px auto 35px auto;
}
td {
    text-align: right;
    font-size: 18px;
    padding: 8px;
    border: none;
    font-family: Trebuchet MS, sans-serif;
    color: var(--green);
}
th {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    padding: 20px 0px;
    border: none;
    font-family: Trebuchet MS, sans-serif;
    color: var(--green);
}

.skill-bar {
    margin-top: 5px;
    width: 100%;
    background-color: #f0f0f0; 
    border-radius: 5px;
}

.skill-bar-fill {
    height: 15px;
    border-radius: 5px;
}

.beginner { width: 30%; background-color: var(--purple); } 
.intermediate { width: 60%; background-color: var(--purple); } 
.advanced { width: 90%; background-color: var(--purple); }

/* resume code */

#cta-resume {
    position: fixed;
    bottom: 15px;
    right: 20px;
    font-size: 18px;
    font-family: Trebuchet MS, sans-serif;
    text-transform: uppercase;
    color: var(--green);
    background-color: var(--pink);
    padding: 10px;
    text-decoration: none;
    z-index: 3;
    border-radius: 0 15px 15px 15px;
    transition: background-color 2s ease
}
#cta-resume:hover {
    background-color: var(--purple);
}

/*footer code*/

footer {
    background-color: var(--cream);
    padding: 1px;
}
footer p {
    font-family: Impact, Trebuchet MS, sans-serif;
    font-size: 18px;
    color: var(--green);
    text-align: center;
    margin-top: 25px;
}
#social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0 75px 0;
}
#social-media svg {
    margin: 0 10px 0 10px;
}
#social-media path {
    transition: fill 2s ease;
    cursor: pointer;
}
#social-media path:hover {
    fill: var(--purple);
}
@keyframes rotate-hover {
    from {
        transform: rotate(0deg); 
    }
    to {
        transform: rotate(360deg); 
    }
}
.social-icon:hover {
    animation: rotate-hover 3s linear infinite; 
}






@media screen and (min-width: 575px) {
    /* navigation code */
  

    
  }
  
  @media screen and (min-width: 920px) {
  
      /* navigation code */
  

    }