
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* main code */


:root{
    --purple: #d0b4f1;
    --brown: #4D3025;
    --white: #ffffff;
    --black: #000000;
    --red: #c25451;
    --pink: #ff8983; 
    --green: #013220;
    --cream: #fff1cb;
    font-family: Impact, Trebuchet MS, sans-serif;
}
*{
    box-sizing: border-box;
}

script {
    display: none;
}
#skip {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#home-main {
    position: relative;
    padding-bottom: 5px;
}
header {
    display: flex;
    justify-content: flex-end;
}
header a{
    text-decoration: none;
}
.sr-only {
    display: none;
}

/* navigation code */

header {
    background-color: var(--cream);
    height: 100px;
}
nav {
    z-index: 100;
}
.off-screen-menu {
    background-color: var(--green);
    height:150vh;
    width: 100%;
    max-width:235px;
    top: 0px;
    right: -450px;
    display: flex;
    position: fixed;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 16px;
    transition: 1s ease;
}
.off-screen-menu.active {
    right: 0;
}
.nav {
    display: flex;
}
.hamburger-menu {
    height: 50px;
    width: 40px;
    margin-right: auto;
    position: absolute; 
    top: 20px;
    right: 15px;
}
.hamburger-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--pink);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s ease;

}
.hamburger-menu span:nth-child(1) {
    top: 25%;
}
.hamburger-menu span:nth-child(3) {
    top: 75%;
}
.hamburger-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
    background-color: var(--purple);
}
.hamburger-menu.active span:nth-child(2) {
   opacity: 0;
}
.hamburger-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    background-color: var(--purple);
}
nav ul {
    list-style: none;
}
nav a {
    text-decoration: none;
    color: var(--pink);
    font-family: Trebuchet MS, sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    transition: color 2s ease;
}
nav li:nth-child(1) {
    margin-top: 65px;
}
nav li {
    padding:20px 0;
}
nav a:hover {
    color:var(--purple);
    font-weight: bold;
}

/* home-title */

.hello {
    font-family: Impact, Trebuchet MS, sans-serif;
    font-size: 150px;
    -webkit-text-stroke: 2px #013220;
    color: transparent;

}
.name {
    font-family: Impact, Trebuchet MS, sans-serif;
    font-size: 65px;
    padding-left: 55px;
    color: var(--green);
}
h1 {
    padding: 35px 0px 15px 25px;
}
#home-title p {
    font-family: trebuchet MS, sans-serif;
    font-size: 24px;
    color: var(--green);
    padding-left: 25px;
    padding-bottom: 20px;
}
#home-title img {
    width: 100%;
    height: auto;
    margin-bottom: 35px;
}

/*home-bio code */

#home-bio h2 {
    font-family: Impact, Trebuchet MS, sans-serif;
    font-size: 24px;
    color: var(--green);
    text-align: center;
}
.text, .cta-text {
    font-family: Trebuchet MS, sans-serif;
    font-size: 18px;
    color: var(--green);
    padding: 25px;
    text-align: center;
}
.bio-photoquote {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}
.bio-photoquote p {
    min-width: 225px;
    font-family: Trebuchet MS, sans-serif;
    font-size: 28px;
    -webkit-text-stroke: 1px #013220;
    color: transparent;
    margin: 35px 5px 25px 25px;
}
.bio-portrait {
    min-width: 170px;
    width: 30%;
    height: 30%;
    margin-top: 25px;
    margin-right: 20px;


}

/* call to action code */ 

.cta-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cta-button a {
    font-size: 18px;
    font-family: Trebuchet MS, sans-serif;
    text-transform: uppercase;
    background-color: var(--pink);
    text-decoration: none;
    color: var(--green);
    padding: 10px;
    border: none;
    border-radius: 0 0px 0px 15px;
    margin-bottom: 55px;
    transition: background-color 2s ease
}
.cta-button a:hover {
    background-color: var(--purple);

}
#cta-resume {
    position: fixed;
    bottom: 15px;
    right: 20px;
    font-size: 18px;
    font-family: Trebuchet MS, sans-serif;
    text-transform: uppercase;
    color: var(--green);
    background-color: var(--pink);
    padding: 10px;
    text-decoration: none;
    z-index: 3;
    border-radius: 0 15px 15px 15px;
    transition: background-color 2s ease
}
#cta-resume:hover {
    background-color: var(--purple);
}

/* client review code */

#home-carousel h3 {
    font-family: Impact, Trebuchet MS, sans-serif;
    font-size: 24px;
    color: var(--green);
    text-align: center;
}
#home-carousel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* carousel code */

.slider {
    width: 95%;
    height: 250px;
    position: relative;
} 
.slider img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}  
.slider img:first-child {
    z-index: 1;
} 
.slider img:nth-child(2) {
    z-index: 0;
}
.navigation-button {
    text-align: center;
    position: relative;
    margin-bottom: 25px;
} 
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--pink);
    border-radius: 50%;
    display: inline-block;
} 
.dot:active,
.dot:hover {
    background-color: var(--purple);
}

/*footer code*/

footer {
    background-color: var(--cream);
    padding: 1px;
}
footer p {
    font-family: Impact, Trebuchet MS, sans-serif;
    font-size: 18px;
    color: var(--green);
    text-align: center;
    margin-top: 25px;
}
#social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 0 75px 0;
}
#social-media svg {
    margin: 0 10px 0 10px;
}
#social-media path {
    transition: fill 2s ease;
    cursor: pointer;
}
#social-media path:hover {
    fill: var(--purple);
}
@keyframes rotate-hover {
    from {
        transform: rotate(0deg); /* Start the rotation from 0 degrees */
    }
    to {
        transform: rotate(360deg); /* Rotate the element by 360 degrees */
    }
}
.social-icon:hover {
    animation: rotate-hover 3s linear infinite; /* Apply the rotation animation */
}


@media screen and (min-width: 575px) {
  /* navigation code */
  
  /* home-bio code */ 

  #home-bio {
    display: flex;
  }
  .bio-main {
    max-width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 35px;
    padding: 0px 10px;
    border: 5px solid var(--pink);
    border-radius: 0 35px 35px 35px;
  }
  .bio-main h2 {
    margin-top: 0;
    padding-top: 20px;
  }
  .bio-photoquote {
    flex-direction: column;
    margin-right: 20px;
    margin-bottom: 0px;
  }
  .bio-photoquote img {
    margin-right: 0;
  }
  .bio-photoquote p {
    margin-bottom: 0px;
    margin-top: 0px;
  }
  .bio-portrait {
    width: 85%;
    height: auto;
    margin-left: 75px;
    margin-top: 0px;
  }
  /* cta code */ 

  .cta-button p {
    margin-top: 30px;
  }

  /* carousel code */

  .slider {
    height: 355px;
  }
  
}

@media screen and (min-width: 920px) {

    /* navigation code */

    /* home-title */

    #home-title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hello {
        font-size: 165px;
        -webkit-text-stroke: 2.5px #013220;
    }
    .name {
        font-size: 70px;
        
    }
    .name-title {
        padding-right: 550px;
    }
    #home-title p {
        font-size: 32px;
    }
    #home-title img {
        position: relative;
        top: -30px;
        margin-bottom: 10px;
        width: 60%;
        height: auto;
    }

    /* home-bio code */
  
    .bio-main {
        max-width: 60%;
        border-radius: 0 0 0 35px;
      }
    #home-bio h2 {
        font-size: 32px;
    }
    .bio-photoquote {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
        margin-bottom: 0px;
    }
    .bio-photoquote p {
        margin-bottom: 0px;
        margin-top: 0px;
        font-size: 36px;
    }
    .bio-portrait {
        width: 75%;
        height: auto;
        margin-left: 0px;
    }
    .text, .cta-text {
        font-size: 24px;
    }

    /* home-carousel code */

    #home-carousel h3 {
        font-size: 32px;
    }

    /* carousel code */

    .slider {
        width: 775px;
        height: 400px;
    }
  }