
/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* main code */


:root{
    --orange: #FFA500;
    --brown: #4D3025;
    --white: #ffffff;
    --black: #000000;
    --red: #853335; 
    --green: #013220;
    font-family: 'Bebas Neue', 'Saira Condensed', san-serif;
}

*{
    box-sizing: border-box;
}
script {
    display: none;
}
#skip {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#home-main {
    background-image: url('../images/IMG_0329.JPG') ;
    background-size: cover;
    padding-bottom: 200px;
}
header {
    display: flex;
    justify-content: flex-end;
}
header a{
    text-decoration: none;
}
.sr-only {
    display: none;
}
.off-screen-menu {
    background-color: var(--green);
    height: 100vh;
    width: 100%;
    max-width: 450px;
    top: 0;
    right: -450px;
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    transition: .5s ease;
}
.off-screen-menu.active {
    right: 0;
}
.nav {
    display: flex;
}
.hamburger-menu {
    height: 50px;
    width: 40px;
    margin-right: auto;
    position: relative;  
}
.hamburger-menu span {
    height: 5px;
    width: 100%;
    background-color: var(--brown);
    border-radius: 25px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}
.hamburger-menu span:nth-child(1) {
    top: 25%;
}
.hamburger-menu span:nth-child(3) {
    top: 75%;
}
.hamburger-menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.hamburger-menu.active span:nth-child(2) {
   opacity: 0;
}
.hamburger-menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}
h1 {
    font-family: 'Krona One';
    color: var(--brown);
    font-size: 8vw;
    text-transform: uppercase;
    margin: 10px 0px 0px 0px;
    padding: 10px 10px 0px 20px;
}
#home-main img {
    flex-basis: 100%;
    width: 100%;
    height: auto;
}
#title-quote {

}
#title-quote p {
    font-size: 3vw;
    font-family: 'Saira Condensed', san-serif;
    color: var(--brown);
    margin: 0;

}
.job-title {
    font-size: 16px;
    margin: 10px 0px;
    margin-right: 10px;
    margin-left: auto;
    color: var(--brown)
}
#home-main a {
    flex-basis: 100%;
}
#whoami {
    background-image: linear-gradient(to bottom, #FFA500, #ffffff 45%);
    padding-top: 1px;
}
#whoami h3 {
    font-size: 24px;
    color: var(--brown);
    font-family: 'Bebas Neue', 'Saira Condensed', san-serif;
    margin: 20px 20px;
}
#whoami p {
    font-size: 16px;
    font-family: 'Saira Condensed', san-serif;
    color: var(--brown);
    margin: 0 50px 20px 40px;
}
#basics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'header header' 'attributes1 attributes2';
    margin-bottom: 20px;
}
#basics h3 {
    grid-area: header;
    color: var(--brown);
    font-size: 24px;
    font-family: 'Bebas Neue', 'Saira Condensed', san-serif;
    margin: 5px 20px;
    flex-basis: 100%;
}
#attributes1 {
    grid-area: attributes1;
}
#attributes2 {
    grid-area: attributes2;
}
#basics ul li {
    font-size: 16px;
    color: var(--brown);
    font-family: 'Saira Condensed', san-serif;
    margin: 0px 20px;
    line-height: 2.5;
}
button {
    font-family: 'Saira Condensed', san-serif;
    text-transform: uppercase;
    font-size: 16px;
    border: none;
    background-color: var(--orange);
    padding: 10px;
    margin: 5px 0px 25px 20px;
    transition: background-color 3s ease
}
button a {
    text-decoration: none;
    color: var(--brown);
}
button:hover {
    background-color: var(--white);
    color: var(--red);
    font-weight: bold;
}
#back-top {
    position: fixed; 
    bottom: 10px; 
    right: 10px;
    background-color: var(--orange);
    color: var(--brown);
    font-family: 'Saira Condensed', san-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 8px;
    text-decoration: none;
    transition: background-color 3s ease
}
#back-top:hover {
    background-color: var(--white);
    color: var(--red);
    font-weight: bold;
}
footer {
    display: flex;
    flex-direction: column;
    color: var(--brown);
    margin-top: 20px;
}
#social-media {
    margin: 10px 0px 5px 0px;
    flex-basis: 100%;
    text-align: center;
}
footer img {
    width: 5%;
}
@media screen and (min-width: 480px) {

    
}