
/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* main code */


:root{
    --orange: #FFA500;
    --brown: #4D3025;
    --white: #ffffff;
    --black: #000000;
    --red: #853335; 
    font-family: 'Bebas Neue', 'Saira Condensed', san-serif;
}

*{
    box-sizing: border-box;
}
script {
    display: none;
}
#skip {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#home-main {
    background-color: var(--orange);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
header {
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
}
header h1 {
    font-size: 24px;
    margin: 20px 20px 14px 20px;
    color: var(--brown);
    font-family: 'Bebas Neue', 'Saira Condensed', san-serif;
    text-align: center;
}
#index-page header h1 {
    margin: 20px 20px 10px 20px;
}
#mainh1 {
   visibility: hidden;
   font-size: 29px;
}
.sr-only {
    display: none;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Saira Condensed', san-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 10px;
    color: var(--brown);
    position: absolute;
    right: 0px;
    top: 10px;
}
#toggle {
    display: none;
}
label[for="toggle"] {
    cursor: pointer; 
    background-color: var(--white);
    border-color: var(--brown);
    padding: 30px 29px 16px 31px;
    font-size: 1.25rem;
    transition: background-color 1.5s ease;
}
label[for="toggle"]:hover {
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--brown);
}
#menu {
    list-style: none;
    padding: 0px;
    margin-top: 0px;
    background-color: var(--white);
    border: 2px solid var(--brown);
    border-top: none;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}
#toggle:checked + label + #menu {
    display: block;
    margin-top: 20px;
}
#toggle:checked + label {
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--brown);
}
#menu li {
    border-top: 1px solid var(--brown);
}
#menu a {
    color: var(--brown);
    text-decoration: none;
    padding: 12px;
    text-align: center;
    display: block;
    transition: background-color 2.0s ease;
}
#menu a:hover {
    background-color: var(--red);
    color: var(--white);
}
h2 {
    font-family: 'Krona One';
    color: var(--brown);
    font-size: 8vw;
    text-transform: uppercase;
    margin: 10px 0px 0px 0px;
    padding: 10px 10px 0px 10px;
}
#home-main img {
    flex-basis: 100%;
    width: 100%;
    height: auto;
}
#quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}
#quote p {
    font-size: 3vw;
    font-family: 'Saira Condensed', san-serif;
    color: var(--brown);
    margin: 0;
    align-items: flex-end;
}
.job-title {
    font-size: 3vw;
    margin: 10px 0px;
    margin-right: 10px;
    margin-left: auto;
    color: var(--brown)
}
#home-main a {
    flex-basis: 100%;
}
#whoami h3 {
    font-size: 5vw;
    color: var(--brown);
    font-family: 'Bebas Neue', 'Saira Condensed', san-serif;
    margin: 20px 25px;
}
#whoami p {
    font-size: 3vw;
    font-family: 'Saira Condensed', san-serif;
    color: var(--brown);
    margin: 0 50px 20px 40px;
}
#basics {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'header header' 'attributes1 attributes2';
    margin-bottom: 20px;
}
#basics h3 {
    grid-area: header;
    color: var(--brown);
    font-size: 5vw;
    font-family: 'Bebas Neue', 'Saira Condensed', san-serif;
    margin: 5px 25px;
    flex-basis: 100%;
}
#attributes1 {
    grid-area: attributes1;
}
#attributes2 {
    grid-area: attributes2;
}
#basics ul li {
    font-size: 3vw;
    color: var(--brown);
    font-family: 'Saira Condensed', san-serif;
    margin: 0px 30px;
    line-height: 2.5;
}
#educationlink {
    display: block;
    background-color: var(--red);
    color: var(--white);
    font-family: 'Saira Condensed', san-serif;
    font-size:3vw;
    text-transform: uppercase;
    width: 100%;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--brown);
    transition: background-color 1.5s ease
}
#educationlink:hover {
    background-color: var(--white);
    color: var(--brown);
    border: 2px solid var(--brown);
    transition: background-color 1.5s ease
}
#projectslink {
    display: block;
    background-color: var(--red);
    color: var(--white);
    font-family: 'Saira Condensed', san-serif;
    font-size:3vw;
    text-transform: uppercase;
    width: 100%;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--brown);
    transition: background-color 1.5s ease
}
#projectslink:hover {
    background-color: var(--white);
    color: var(--brown);
    border: 2px solid var(--brown);
    transition: background-color 1.5s ease
}
#worklink {
    display: block;
    background-color: var(--red);
    color: var(--white);
    font-family: 'Saira Condensed', san-serif;
    font-size:3vw;
    text-transform: uppercase;
    width: 100%;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--brown);
    transition: background-color 1.5s ease
}
#worklink:hover {
    background-color: var(--white);
    color: var(--brown);
    border: 2px solid var(--brown);
    transition: background-color 1.5s ease
}
#downloadresume {
    display: block;
    background-color: var(--red);
    color: var(--white);
    font-family: 'Saira Condensed', san-serif;
    font-size:3vw;
    text-transform: uppercase;
    width: 100%;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    border: 2px solid var(--brown);
    transition: background-color 1.5s ease
}
#downloadresume:hover {
    background-color: var(--white);
    color: var(--brown);
    border: 2px solid var(--brown);
    transition: background-color 1.5s ease
}
#back-top {
    position: fixed; 
    bottom: 10px; 
    right: 10px;
    background-color: var(--brown);
    color: var(--white);
    font-family: 'Saira Condensed', san-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 8px;
    text-decoration: none;
    border: 2px solid var(--brown);
    transition: background-color 1.5s ease
}
#back-top:hover {
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--brown);
}
.epc-main h2 {
    margin-top: 15px;
    font-size: 6vw;
    font-family: 'Bebas Neue', 'Saira Condensed', san-serif;
    text-align: right;
}
#education {
    background-color: var(--orange);
    padding-top: 1px;
    padding-bottom: 20px;
}
.educationicons img {
    width: 35px;
    float: left;
    margin-left: 20px;
    padding-top: 2px;
}
#education p {
    margin-left: 75px;
    font-family: 'Saira Condensed', san-serif;
    line-height: 0.5em;
    font-size: 24px;
}
#university, #bootcamp {
    color: var(--white);
    text-shadow: 1px 1px 2px var(--brown);
}
.locationtext {
    padding-top: 10px;
}
.datetext {
    padding-top: 10px;
}
#experience h2 {
    margin-top: 0;
    padding-top: 30px;
}
table {
    width: 98%;
    border: 2px solid var(--brown);
    border-collapse: collapse;
    margin: 20px auto 35px auto;
}
th, td {
    text-align: center;
    font-size: 24px;
    padding: 8px;
    border: 2px solid var(--brown);
    font-family: 'Saira Condensed', san-serif;
    color: var(--brown);
}
#workwithme img {
    width: 35px;
    margin-left: 20px;
}
#workwithme {
    background-color: var(--orange);
    padding-top: 1px;
}
#workwithme h2 {
    padding-top: 15px;
    margin-top: 0px;
    margin-bottom: 65px;
}
#webdev {
    background-color: var(--orange);
    padding-top: 1px;
    display: grid;
    grid-template-columns:auto auto;
    grid-template-areas: 'title title' 'icon photo' 'paragraph photo';
    gap: 10px;
}
#webdev h2 {
    grid-area: title;
    margin-bottom: 15px;
}
#webdev a{
    grid-area: icon;
    width: 35px;
    margin: 0px 0px 0px 5px;
}
#webdev p {
    grid-area: paragraph;
    margin: 0px 20px 25px 10px;
    font-family: 'Saira Condensed', san-serif;
}
#webdev img:last-child {
    grid-area: photo;
    width: 100%;
    padding-right: 10px;
}

#contact-info {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    align-items: center;
    padding-bottom: 25px;
}
#contact-info img {
    width: 35px;
    margin-right: 20px;
}
#contact-info p {
    margin: 0;
    color: var(--brown);
    font-size: 24px;
    font-family: 'Saira Condensed', san-serif;
}
#contact-info a {
    font-size: 24px;
    font-family: 'Saira Condensed', san-serif;
    text-decoration: none;
    color: var(--brown);
}
form {
    display: flex;
    flex-direction: column;
    margin: 25px 65px 35px 65px;
}
form label {
    margin-top: 10px;
    font-size: 24px;
    color: var(--brown);
}
form input, form textarea {
    font-size: 20px;
    font-family: 'Saira Condensed', san-serif;
    color: var(--brown);
}
.required {
    color: var(--orange);
}
form input[type="submit"] {
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    padding:10px;
    margin-top: 15px
}
form input[type="submit"]:hover {
    background-color: var(--white);
    color: var(--brown);
    border: 2px solid var(--brown);
    transition: background-color 1.5s ease
}
footer {
    display: flex;
    flex-direction: column;
    color: var(--brown);
    margin-top: 20px;
}
#social-media {
    margin: 10px 0px 5px 0px;
    flex-basis: 100%;
    text-align: center;
}
footer img {
    width: 5%;
}
@media screen and (min-width: 480px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    header h1 {
        font-size: 35px;
        text-align: center;
        flex-basis: 100%;
    }
    #index-page nav{
        top: 0px;
        order: 2;
        margin-top: 0px;
        width: 100%;
        text-align: right;
    }
    #index-page header h1 {
        margin: 20px 20px 10px 20px;
    }
    nav {
        top: 74px;
        order: 2;
        margin-top: 0px;
        width: 100%;
        text-align: right; 
    }
    #menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        margin-top: 0;
        border: none;
        width: 100%;
    }
    #toggle {
        display: none;
    }
    label[for="toggle"] {
        display: none;
    }
    #menu li {
        margin: 0;
        padding: 0;
        border-top: none;
        flex-grow: 1;
    }
    #menu a {
        background-color: var(--white);
        color: var(--brown);
        text-decoration: none;
        padding: 20px 20px;
        text-align: center;
        transition: background-color 1.5s ease;
    }
    #menu a:hover {
        background-color: var(--red);

    }
    #home-main img {
        max-width: 100%;
        height: auto;
    }
    .epc-main h2 {
        margin-top: 75px;
    }
    #workwithme h2 {
        margin-top: 65px;
    }
}