
/* custom font */
@import url('https://fonts.googleapis.com/css2?family=Allison&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Saira+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* main code */


:root{
    --orange: #FFA500;
    --brown: #4D3025;
    --white: #ffffff;
    --black: #000000;
    --red: #853335; 
    font-family: 'Bebas Neue', 'Saira Condensed', san-serif;
}

*{
    box-sizing: border-box;
}
script {
    display: none;
}
#skip {
    position: absolute;
    left: -9999px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
#home-main {
    background-color: var(--orange);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
header {
    display: flex;
    align-items: center;
}
header a{
    text-decoration: none;
}
header h1 {
    font-size: 5vw;
    margin: 20px 20px 10px 20px;
    color: var(--brown);
    font-family: 'Bebas Neue', 'Saira Condensed', san-serif;
    text-align: center;
}
#mainh1 {
   visibility: hidden;
   font-size: 29px;
}
.sr-only {
    display: none;
}
nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Saira Condensed', san-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
    margin-top: 10px;
    color: var(--brown);
    position: absolute;
    right: 0px;
    top: 10px;
}
#toggle {
    display: none;
}
label[for="toggle"] {
    cursor: pointer; 
    background-color: var(--white);
    border-color: var(--brown);
    padding: 30px 24px 16px 25px;
    font-size: 1.25rem;
    transition: background-color 1.5s ease;
}
label[for="toggle"]:hover {
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--brown);
}
#menu {
    list-style: none;
    padding: 0px;
    margin-top: 0px;
    background-color: var(--white);
    border: 2px solid var(--brown);
    border-top: none;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    right: 0;
    display: none;
}
#toggle:checked + label + #menu {
    display: block;
    margin-top: 20px;
}
#toggle:checked + label {
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--brown);
}
#menu li {
    border-top: 1px solid var(--brown);
}
#menu a {
    color: var(--brown);
    text-decoration: none;
    padding: 12px;
    text-align: center;
    display: block;
    transition: background-color 2.0s ease;
}
#menu a:hover {
    background-color: var(--red);
    color: var(--white);
}
h2 {
    font-family: 'Bebas Neue';
    color: var(--brown);
    font-size: 10vw;
    margin: 0;
}
#home-main img {
    flex-basis: 100%;
    width: 100%;
    height: auto;
}
#quote {
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}
#quote p {
    font-size: 3vw;
    font-family: 'Saira Condensed', san-serif;
    color: var(--brown);
    margin: 0;
    align-items: flex-end;
}
.job-title {
    margin: 10px 0px;
    color: var(--brown)
}
#home-main a {
    flex-basis: 100%;
}
#jt-link {
    display: flex;
    flex-direction: row;
}
#back-top {
    position: fixed; 
    bottom: 10px; 
    right: 10px;
    background-color: var(--brown);
    color: var(--white);
    font-family: 'Saira Condensed', san-serif;
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 1.5s ease
}
#back-top:hover {
    background-color: var(--red);
    color: var(--white);
    border: 2px solid var(--brown);
}
#who-i {
    color: var(--brown);
    text-decoration: none;
    transition: background-color 1.5s ease
}
#who-i:hover {
    color: var(--red);
}

form input[type="submit"] {
    background-color: var(--orange);
    text-align: center;
    border-radius: 8px;
    padding:10px;
}
footer {
    display: flex;
    flex-direction: column;
    color: var(--brown)
}
footer p {
    font-family: 'Saira Condensed', san-serif;
    flex-basis: 100%;
    text-align: center;
    margin: 10px 0px 5px 0px;
}
#social-media {
    flex-basis: 100%;
    text-align: center;
}
footer img {
    width: 5%;
}
@media scren and (min-width: 480px) {

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    h1 {
        text-align: center;
        flex-basis: 100%;
    }
    nav{
        order: 2;
        margin-top: 0;
        width: 100%;
        text-align: right;
    }
    #menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        list-style: none;
        padding: 0;
        margin-top: 0;
        border: none;
        width: 100%;
    }
    #toggle {
        display: none;
    }
    label[for="toggle"] {
        display: none;
    }
    #menu li {
        margin: 0;
        padding: 0;
        border-top: none;
        flex-grow: 1;
    }
    #menu a {
        background-color: var(--white);
        color: var(--brown);
        text-decoration: none;
        padding: 20px 20px;
        text-align: center;
        transition: background-color 0.3s ease;
    }
    #menu a:hover {
        background-color: var(--orange);

    }
}